<html ng-app class="ng-scope">
	<head>
		<title>Hackficator</title>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	</head>

	<body>
		<input type="text" ng-model="sometext" />
		<h1 ng-show="sometext">Session Test {{sometext | uppercase}}
	</body>
</html>
