<html ng-app class="ng-scope">
	<head>
		<title>Hackficator</title>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	</head>

	<body>
		<div ng-controller="ContactController" class="ng-scope">
			Email: <input type="text" ng-model="newcontact" placeholder="Email" class="ng-pristine ng-valid" >
			<button ng-click="add()">Add</button>

			<h2>Session</h2>
			<ul>
				<!-- ngRepeat: contact in contacts -->
				<li ng-repeat="contact in contacts" class="ng-scope ng-binding">{{contact}}</li>
			</ul>
		</div>

		<script type="text/javascript">
			function ContactController($scope) { 
				$scope.contacts=["a"];
				$scope.add = function() {  
					$scope.contacts.push($scope.newcontact);
					//$scope.newcontact = "";
				}
			}
		</script>
	</body>
</html>
