<!doctype html>
<html ng-app="hackificator">
<head>
<title>PHP to Hack - Hackficator</title>
<meta name="Description" content="Converts code from PHP to HACK Lang, Facebook Hackificator GUI" >
<meta name="keywords" content="hackificator, hack lang, php2hack, php to hack" >
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
<script
	src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
<script src="hackificator.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<link href="./hack.css" rel="stylesheet">

</head>

<body ng-controller="HackController">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59509364-1', 'auto');
  ga('send', 'pageview');

</script>
	<form ng-submit="hackify()">
		<div class="containe-fluid main-container">
				<div class="row-fluid">
					<h1>PHP to HACK Lang Converter</h1>
					<hr />
					<alert type="info" close="closeAlert($index)">Convert your php code into hack on fly!</alert>
					<div class="col-md-7">
						<div>
							<h3>PHP Class</h3>
							<textarea ng-model="form.phpcode" cols="80" rows="10"></textarea>
						</div>
						<div>
							<input type="checkbox" ng-model="form.soft_annotation" value="on" />Soft Annotate
							<input type="checkbox" ng-model="form.hard_annotation" value="on" />Hard Annotate
							<br />
							<button class="btn btn-info" style="width:61%">Hackify Now!</button>
						</div>
						
						<div>
							<h3>Hackified Class</h3>
							<textarea ng-model="form.hackcode" cols="80" rows="10"></textarea>
						</div>
					</div>
					<div class="col-md-2">
						<h3>Log</h3>
						<alert ng-repeat="error in errors" type="{{error.type}}" close="closeAlert($index)">{{error.message}}</alert>
						<textarea ng-model="form.log" cols=50 rows=10>{{log}}</textarea>
					</div>
					
				</div>
		</div>		
	</form>
</body>
</html>
