<html ng-app="phonecatApp" ng-controller="PhoneListCtrl">
	<head>
	<title ng-bind-template="PHone {{query}}">Title Just in Case</title>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script type="text/javascript" src="./controllers.js"></script>
	</head>

	<body>

		<input type="input" ng-model="query" />
		<ul>
			<li ng-repeat="phone in phones | filter:query">
				<span>{{phone.name}}</span>
				<p>{{phone.snippet}}</p>
				
					
			</li>
		
		</ul>
		<p>Total Number of Phones {{phones.length}}</p>
	
		<table>
		  <tr><th>row number</th></tr>
	    <tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]"><td>{{i}}</td></tr>
    </table>	    
	</body>
</html>
