<!doctype html>
<html ng-app="ui.bootstrap.demo">
  <head>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
          <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
	      <script src="ui.js"></script>
	          <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		    </head>
		      <body>

		      <div ng-controller="AlertCtrl">
			        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
				  <button class='btn btn-default' ng-click="addAlert()">Add Alert</button>
			  </div>
			    </body>
			    </html>

